#products{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 20px;
}
.product{
    padding: 20px;
    box-shadow: 2px 3px black;
    border-radius: 20px;
}
@media (max-width:760px){
#products{
    grid-template-columns: repeat(1,auto);
}
}
@media (max-width:998px){
#products{
    grid-template-columns: repeat(2,auto);
}
}