h1{
    text-align: center;
}
.movies{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
}
.movie{
    background-color: white;
    padding: 20px;
    box-shadow: 2px 3px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie:hover{
    transform: scale(1.05);
}