h1{
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.product{
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 3px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}