<nav class="navbar navbar-expand-lg bg-black text-white">
  <div class="container-fluid d-flex justify-content-between px-5">
    <a class="navbar-brand text-white" href="#">Bada <span class=" text-primary">Bazaar</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNavDropdown">
      <ul class="navbar-nav px-5">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" routerLink="">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="contact">Contact</a>
        </li>
        </ul>
        <button class="btn btn-outline-primary">  <a class="nav-link text-white" routerLink="login">Login</a></button>
        <a class="nav-link text-white" routerLink="cart">cart 🛒</a>
    </div>
  </div>
</nav>