.myDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 3px black;
    width: 50vw;
}